@import "tailwindcss";

.header {
    @apply fixed top-0 left-0 right-0 bg-[#14181a] shadow-md px-4 py-2 flex justify-between items-center border-b border-[#3E4042] z-50;
}

.header-page-title {
    @apply text-2xl font-bold text-white mb-1 mr-6;
}

.header-search-bar {
    @apply w-full px-2 py-2 border border-none rounded-full focus:outline-none pr-4;
}

.search-icon {
    width: 15px;
    height: 15px;
    fill: white;
}

.qr-button {
    @apply hidden md:flex items-center gap-2 bg-[#2a3236] hover:bg-[#333D42] text-white font-bold px-4 py-2 ml-2 rounded-full transition-colors duration-200;
}

.login-button {
    @apply hidden md:block bg-[#d93900] hover:bg-[#AE2C00] text-white font-bold px-4 py-2 ml-2 rounded-full transition-colors duration-200;
}